<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- Make it compatible with mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Cancer Lesion Classifier</title>
  
  <style>
    body {
      background-color: black;
      color: violet;
      text-align: center;
    }
    h2, h4 {
      color: violet;
    }
    h3 {
      color: MediumSeaGreen;
    }
    p {
      color: MediumSeaGreen;
    }
  </style>
</head>

<body>
  <h2>Skin Cancer Lesion Classifier</h2>
  <h4>Upload an image and click submit</h4>

  <form method="post" action="/" enctype="multipart/form-data">
      <p>
          <input type="file" name="file" autocomplete="off" required>
      </p>
      <p>
          <input type="submit" name="submit" value="Submit">
      </p>
  </form>

  <!-- Display Diagnosis and Image -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <p>Diagnosis for the following image is:</p>
      <h3>{{ messages[0] }}</h3> <!-- Diagnosis -->

      <!-- Image Display -->
      <img src="{{ messages[1] }}" width="300" height="225" alt="Uploaded Image">
    {% endif %}
  {% endwith %}
</body>
</html>
